body {
    background-color: #363636;
    color: #dadada;
}

.todo-item {
    border-bottom: 1px solid gray;
    margin: 1rem 5rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.show-done {
    display: inline-block;
    width: 40%;
}

.header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.buttons {
    display: inline-block;
    float: right;
    margin-bottom: 0.2rem;
}

.todo-title {
    display: inline-block;
    margin-top: 0.5rem;
}

.undone {
    color: red;
}

.done {
    color: green;
}